# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [19]:
%pip install pandas
%pip install plotly

4811.19s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: pandas in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

4818.04s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: plotly in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (5.22.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from plotly) (8.3.0)
Requirement already satisfied: packaging in /home/mathieu/FAU_local/fau-made/.venv/lib/python3.10/site-packages (from plotly) (24.0)
Note: you may need to restart the kernel to use updated packages.

## Load data

In [20]:
# import the modules
import pandas as pd 
import sqlite3

# connect to the database
con = sqlite3.connect("../data/data.sqlite")
 
# The following manipulations are done in SQL
# All columns from the table pedestrians are beeing selected and some renamed, but from the column 'time of measurement' only the first 10 characters are selected
# Additionally a column with row numbers is added to the table

# As the temperature and rain data are stored in two different tables, the data is combined in two subqueries
# The average of the temperature and rain data is calculated and a column with row numbers is added to the tables

# The three subqueries are joined together and the columns 'time', 'weekday', 'pedestrians', 'rain' and 'temperature' are selected

df = pd.read_sql_query('''

WITH PedestrianData AS (
    SELECT
        SUBSTR(p.[time of measurement], 1, 10) AS time,
        p.weekday AS weekday,
        p.[pedestrians count] AS pedestrians,
        ROW_NUMBER() OVER (ORDER BY p.[time of measurement]) AS row_num
    FROM pedestrians p
),
RainData AS (
    SELECT
        (r1.[Niederschlag (6 bis 6 UTC)] + r2.[Niederschlag (6 bis 6 UTC)]) / 2 AS rain,
        ROW_NUMBER() OVER (ORDER BY r1.[Niederschlag (6 bis 6 UTC)]) AS row_num
    FROM rainmoe r1, rainnue r2
),
TemperatureData AS (
    SELECT
        (t1.[Mittelwert] + t2.[Mittelwert]) / 2 AS temperature,
        ROW_NUMBER() OVER (ORDER BY t1.[Mittelwert]) AS row_num
    FROM tempmoe t1, tempnue t2
)

SELECT
    pd.time,
    pd.weekday,
    pd.pedestrians,
    rd.rain,
    td.temperature
FROM
    PedestrianData pd
JOIN
    RainData rd ON pd.row_num = rd.row_num
JOIN
    TemperatureData td ON pd.row_num = td.row_num;

''', con)

### Look at the first rows

In [21]:
df.head(20)

          time    weekday  pedestrians  rain  temperature
0   2024-01-01     Monday         9432  1.45         0.30
1   2024-01-02    Tuesday         8959  7.20         0.90
2   2024-01-03  Wednesday        10900  5.80         1.90
3   2024-01-04   Thursday        13322  0.45         0.90
4   2024-01-05     Friday        16804  0.00        -0.20
5   2024-01-06   Saturday         8917  0.00        -1.05
6   2024-01-07     Sunday         6496  0.00        -2.45
7   2024-01-08     Monday        11646  0.00        -4.50
8   2024-01-09    Tuesday        12452  0.00        -4.40
9   2024-01-10  Wednesday        11693  0.00        -4.30
10  2024-01-11   Thursday        12564  0.00        -5.15
11  2024-01-12     Friday        13124  0.00        -4.15
12  2024-01-13   Saturday        17919  0.00        -3.70
13  2024-01-14     Sunday         8365  0.05        -3.70
14  2024-01-15     Monday        10811  0.25        -3.30
15  2024-01-16    Tuesday        12411  0.00        -3.50
16  2024-01-17  Wednesday         8116  5.05        -2.60
17  2024-01-18   Thursday        10322  1.75        -1.75
18  2024-01-19     Friday        17850  0.00        -3.40
19  2024-01-20   Saturday        19778  0.00        -3.80

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         134 non-null    object
 1   weekday      134 non-null    object
 2   pedestrians  134 non-null    int64
 3   rain         134 non-null    float64
 4   temperature  134 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 5.4+ KB